<p>Chips with multiple selection</p>
<ng-container *ngrxLet="tags$ as tags">
  <mat-chip-listbox selectable multiple #chipListbox>
    <mat-chip-option *ngFor="let chip of tags" color="accent">
      {{ chip.description }}
    </mat-chip-option>
  </mat-chip-listbox>
  <p>Selected tags</p>
  <ul>
    <li *ngFor="let item of selectedTags$ | async">
      <span>{{ item.description }}</span>
    </li>
  </ul>
</ng-container>
<br />
<p>Chips with custom style color</p>
<ng-container *ngrxLet="tags$ as tags">
  <mat-chip-listbox selectable multiple>
    <mat-chip-option
      *ngFor="let chip of tags"
      color="accent"
      [style.--mdc-chip-elevated-container-color]="colorVar"
    >
      {{ chip.description }}
    </mat-chip-option>
  </mat-chip-listbox>
</ng-container>
