/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  height: 100%; //thanks to: https://dev.to/peiche/100vh-behavior-on-chrome-2hm8
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
}

html {
  height: 100%; //thanks to: https://dev.to/peiche/100vh-behavior-on-chrome-2hm8
}
